body {
    display: inline-block;
   }
   
html {
    scroll-behavior: smooth;
}

.header li {
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    font-size:x-large;
    padding: 0px 14px 0px 16px  ;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: ;
}

#contact {
    transition: 2s;
}

.header {   
    background-color:lightsteelblue;
    padding: 0.1%;
    color: black;
    text-align: right;
}

.heading {
    margin: 20px;
    font-weight: bolder;
}

.about_me {
    display: inline-flex;
    margin: 10px;
    text-align: center;
    
}

.about_me img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.intro {
    display: inline-block;
    text-align: left;
    padding: 20px;
}

.education {
    display: inline-block;
}

.education p {
    margin-left: 20px;
}

.work_experience p{
    font-weight: bold;
    padding-left: 20px;
}

.contact li{
    display: inline-flexbox;
}

.footer {
    text-align: center;
}
